<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ShirpurBank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminLoginServlet</display-name>
    <servlet-name>adminLoginServlet</servlet-name>
    <servlet-class>com.sbank.services.adminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLoginServlet</servlet-name>
    <url-pattern>/adminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addUserServlet</display-name>
    <servlet-name>addUserServlet</servlet-name>
    <servlet-class>com.sbank.services.addUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUserServlet</servlet-name>
    <url-pattern>/addUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userLoginServlet</display-name>
    <servlet-name>userLoginServlet</servlet-name>
    <servlet-class>com.sbank.services.userLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLoginServlet</servlet-name>
    <url-pattern>/userLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>depositUserServlet</display-name>
    <servlet-name>depositUserServlet</servlet-name>
    <servlet-class>com.sbank.services.depositUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>depositUserServlet</servlet-name>
    <url-pattern>/depositUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithdrawAdminServlet</display-name>
    <servlet-name>WithdrawAdminServlet</servlet-name>
    <servlet-class>com.sbank.services.WithdrawAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithdrawAdminServlet</servlet-name>
    <url-pattern>/WithdrawAdminServlet</url-pattern>
  </servlet-mapping>
</web-app>